[importlinter]
root_packages =
    communities
    newsfeed
    notifications
    photos
    users
    stories

[importlinter:contract:1]
name = Independence of domain apps
type = independence
modules =
    communities
    newsfeed
    notifications
    photos
    users
    stories

ignore_imports =
    communities.views -> users.services
    newsfeed.services -> users.services
    newsfeed.tasks -> users.services
    photos.views -> users.services
    stories.views -> users.services
    newsfeed.views -> photos.services
    newsfeed.services -> photos.services
    newsfeed.services -> communities.services
    newsfeed.signals -> photos.signals
    newsfeed.signals -> communities.signals
    notifications.signals -> photos.signals
    notifications.signals -> communities.signals
    notifications.signals -> stories.signals
    notifications.tasks -> photos.models
    notifications.tasks -> communities.models
    notifications.tasks -> stories.models
    photos.views -> communities.services
    newsfeed.services -> stories.services
    stories.forms -> photos.utils
