[importlinter]
root_packages =
    communities
    newsfeed
    notifications
    photos
    users

[importlinter:contract:1]
name = Independence of domain apps
type = independence
modules =
    communities
    newsfeed
    notifications
    photos
    users

ignore_imports =
    newsfeed.services -> users.services
    photos.views -> users.services
    communities.views -> users.services
    newsfeed.views -> photos.services
    newsfeed.services -> photos.services
    newsfeed.services -> communities.services
    newsfeed.signals -> photos.signals
    newsfeed.signals -> users.services
    newsfeed.signals -> communities.signals
    notifications.signals -> photos.signals
    notifications.signals -> communities.signals
    photos.views -> communities.services
