# Ignore everything in the .truecourse directory
*

# Whitelist directories to allow searching inside them
!*/

# Whitelist the config files we want to track
!.gitignore
!config.json
!scenarios/recipe.json

# Explicitly ignore all other files inside scenarios/ (like generated tests, flows.json, manifest.json)
scenarios/*
!scenarios/recipe.json
